<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-4 col-sm-6 text-center">
      <h2>投稿詳細</h2>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-lg-4 col-sm-6">
      <div class="card align-items-stretch" >
        <% if @post.post_image.present? %>
          <%= image_tag @post.post_image, class: "bd-placeholder-img card-img-top", width: "100%", height: "180", xmlns: "http://www.w3.org/2000/svg", preserveAspectRatio: "xMidYMid slice", focusable: "false", role: "img", "aria-label": "Placeholder: Image cap" %>
        <% else %>
          <%= image_tag "no_image.jpg", class: "bd-placeholder-img card-img-top", width: "100%", height: "180", xmlns: "http://www.w3.org/2000/svg", preserveAspectRatio: "xMidYMid slice", focusable: "false", role: "img", "aria-label": "Placeholder: Image cap" %>
        <% end %>
        <div class="card-body text-secondary">
          <h5 class="card-title"><%= @post.title %></h5>
          <p class="card-text">
            <% max_length = 50 %>
            <% truncated_body = @post.body.truncate(max_length, omission: '...') %>
            <p><%= truncated_body %></p>
          </p>
          <h5>ジャンル</h5>
          <p><%= @post.genre.genre_name %></p>
          <h5>ニックネーム</h5>
          <p><%= @post.user.nickname %></p>
          <% if @post.liked_by?(current_user) %>
            <p>
              <%= link_to post_like_path(@post), method: :delete do %>
                ♥<%= @post.likes.count %> いいね
              <% end %>
            </p>
            <% else %>
            <p>
              <%= link_to post_like_path(@post), method: :post do %>
                ♡<%= @post.likes.count %> いいね
              <% end %>
            </p>
          <% end %>
          <%= link_to "投稿者詳細を見る", user_path(@post.user.id), class: "btn btn-info" %>
        </div>
      </div>
    </div>
  </div>

  <div class="row py-2 d-flex justify-content-center">
    <% if @post.user == current_user %>
      <div class="col-lg-4 col-sm-6 text-center">
        <%= link_to "編集", edit_post_path(@post.id), class: "btn btn-success" %>
        <%= link_to "削除", post_path(@post.id), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-danger" %>
    <% end %>
        <%= link_to "戻る", posts_path, class: "btn btn-dark" %>
      </div>
  </div>

  <div class="row d-flex justify-content-center">
    <div class="col-lg-12 text-center">
      <p>コメント件数：<%= @post.post_comments.count %></p>
    </div>
    <div class="col-lg-12 text-center">
      <%= hidden_field_tag :post_id, @post.id %>
      <%= form_with model: [@post, @post_comment], url: post_post_comments_path(post_id: @post.id) do |f| %>
        <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに" %>
        <p class="py-2 text-center"><%= f.submit "送信する" %></p>
      <% end %>
    </div>
    <% @post.post_comments.each do |post_comment| %>
      <div class="col-12 text-center d-flex justify-content-around">
        <p><%= image_tag post_comment.user.get_profile_image(50,50) %></p>
        <p><%= post_comment.user.nickname %></p>
        <p><%= post_comment.created_at.strftime('%Y/%m/%d') %></p>
        <p><%= post_comment.comment %></p>
        <% if post_comment.user == current_user %>
          <%= link_to "削除", post_post_comment_path(post_comment.post, post_comment), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-danger btn-sm mb-2" %>
        <% end %>
      </div>
    <% end %>
    </div>
  </div>
</div>