<h1>ユーザー詳細画面</h1>

<h4>プロフィール画像</h4>
<%= image_tag @user.get_profile_image(200, 200) %>

<h2>ニックネーム</h2>
<p><%= @user.nickname %></p>

<h2>車種</h2>
<% @user.car_models.each do |car_model| %>
    <p><%= car_model.name %></p>
<% end %>

<h2>投稿一覧</h2>
<% @user.posts.each do |post| %>
  <h4>タイトル</h4>
  <span>
    <%= link_to post.title, post_path(post) %>
  </span>

  <h4>本文</h4>
  <% max_length = 50 %>
  <% truncated_body = post.body.truncate(max_length, omission: '...') %>
  <p><%= truncated_body %></p>

  <h4>ジャンル</h4>
  <p><%= post.genre.genre_name %></p>

<% end %>


