<h1>走行距離登録</h1>

<% if @driving_distance.errors.any? %>
  <%= @driving_distance.errors.count %>件のエラーが発生しました
  <ul>
    <% @driving_distance.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: @driving_distance do |f| %>
  <h4>走行距離</h4>
  <%= f.text_field :distance %>

  <%= f.submit '登録' %>
<% end %>
