<div id="like_buttons_<%= @post.id %>">
  <% if post.liked_by?(current_user) %>
    <div>
      <%= link_to post_like_path(post), method: :delete, remote: true do %>
        ♥<%= post.likes.count %> いいね
      <% end %>
    </div>
  <% else %>
    <div>
      <%= link_to post_like_path(post), method: :post, remote: true do %>
        ♡<%= post.likes.count %> いいね
      <% end %>
    </div>
  <% end %>
</div>