<div class="container">
  <div class="row justify-content-center">
    <h1>投稿一覧</h1>
  </div>
  <div class="row d-flex justify-content-center mb-2">
    <%= render "searches/form" %>
  </div>
  <div class="row">
      <% @posts.each do |post| %>
        <div class="col-lg-3 col-md-6 col-sm-12 d-flex my-2">
          <div class="card align-items-stretch" style="width: 18rem;">
            <% if post.post_image.present? %>
              <%= image_tag post.post_image, class: "bd-placeholder-img card-img-top", width: "100%", height: "180", xmlns: "http://www.w3.org/2000/svg", preserveAspectRatio: "xMidYMid slice", focusable: "false", role: "img", "aria-label": "Placeholder: Image cap" %>
            <% else %>
              <%= image_tag "no_image.jpg", class: "bd-placeholder-img card-img-top", width: "100%", height: "180", xmlns: "http://www.w3.org/2000/svg", preserveAspectRatio: "xMidYMid slice", focusable: "false", role: "img", "aria-label": "Placeholder: Image cap" %>
            <% end %>
            <div class="card-body text-secondary">
              <h5 class="card-title"><%= post.title %></h5>
              <p class="card-text">
                <% max_length = 50 %>
                <% truncated_body = post.body.truncate(max_length, omission: '...') %>
                <p><%= truncated_body %></p>
              </p>
              <h5>ジャンル</h5>
              <p><%= post.genre.genre_name %></p>
              <h5>ニックネーム</h5>
              <p><%= post.user.nickname %></p>
              <p><%= link_to "投稿詳細へ", post_path(post), class: "btn btn-info" %></p>
            </div>
          </div>
        </div>
      <% end %>
  </div>
</div>