<h1>投稿一覧</h1>

<% @posts.each do |post| %>
  <h4>タイトル</h4>
  <span>
    <%= link_to post.title, post_path(post) %>
  </span>

  <h4>本文</h4>
  <% max_length = 50 %>
  <% truncated_body = post.body.truncate(max_length, omission: '...') %>
  <p><%= truncated_body %></p>

  <h4>ジャンル</h4>
  <p><%= post.genre.genre_name %></p>

  <h4>画像</h4>
<%= image_tag post.get_post_image(100, 100) %>

  <h4>投稿者</h4>
  <p><%= link_to post.user.nickname, user_path(post.user) %></p>
<% end %>
