<h2>タイトル</h2>

<p><%= @post.title %></p>

<h2>本文</h2>
<p><%= @post.body %></p>

<h2>ジャンル</h2>
<p><%= @post.genre.genre_name %></p>

<%= link_to "編集", edit_post_path(@post.id) %>
<%= link_to "削除", post_path(@post.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>