<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 text-center pt-2">
      <h1>新規車種登録</h1>
    </div>
    <div class="col-12 text-center pt-2">
      <% if current_user.car_models.empty? %>
        <p>愛車を登録しよう</p>
      <% end %>
    </div>
    <div class="col-12 text-center">
      <% if @car_model.errors.any? %>
        <%= @car_model.errors.count %>件のエラーが発生しました
        <ul>
          <% @car_model.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>
    </div>

    <%= form_with model: @car_model do |f| %>
      <div class="card w-100 mx-auto">
        <div class="card-body text-muted">
          <div class="col-12 text-center">
            <h4>車種名</h4>
          </div>
          <div class="col-12 text-center">
            <%= f.text_field :name %>
          </div>
          <div class="col-12 text-center pt-2">
            <%= f.submit '登録', class: "btn btn-primary" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>