
<h1>新規車種登録</h1>

<% if @car_model.errors.any? %>
  <%= @car_model.errors.count %>件のエラーが発生しました
  <ul>
    <% @car_model.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: @car_model do |f| %>
  <h4>車種名</h4>
  <%= f.text_field :name %>

  <%= f.submit '登録', class: "btn btn-primary" %>
<% end %>
