<div class="container">
  <div class="row justify-content-center">
    <h1>ユーザー一覧</h1>
  </div>
  <div class="row d-flex justify-content-center mb-2">
    <%= render "public/searches/form" %>
  </div>
  <div class="row">
     <% @users.each do |user| %>
      <div class="col-lg-3 col-md-6 col-sm-12 d-flex my-2">
        <div class="card align-items-stretch" style="width: 18rem;">
          <% if user.profile_image.present? %>
            <%= image_tag user.profile_image, class: "bd-placeholder-img card-img-top", width: "100%", height: "180", xmlns: "http://www.w3.org/2000/svg", preserveAspectRatio: "xMidYMid slice", focusable: "false", role: "img", "aria-label": "Placeholder: Image cap" %>
          <% else %>
            <%= image_tag "no_image.jpg", class: "bd-placeholder-img card-img-top", width: "100%", height: "180", xmlns: "http://www.w3.org/2000/svg", preserveAspectRatio: "xMidYMid slice", focusable: "false", role: "img", "aria-label": "Placeholder: Image cap" %>
          <% end %>
          <div class="card-body text-secondary">
            <p>ニックネーム</p>
            <span>
              <%= link_to user.nickname, user_path(user.id) %>
            </span>
            <p>フォロー数: <%= user.followings.count %></p>
            <p>フォロワー数: <%= user.followers.count %></p>
            <p><%= render "public/relationships/btn", user: user, options: { class: "follow-link" } %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>