<div class="container">
  <div class="row justify-content-center">
    <div class="col-10 text-center">
      <h1>マイページ</h1>
    </div>
  </div>

  <div class="row justify-content-center text-center">
    <div class="col-lg-4 col-sm-12">
      <div class="row">
        <div class="col-12">
          <h4>プロフィール画像</h4>
          <%= image_tag @user.get_profile_image(100, 100) %>
        </div>

        <div class="col-12">
          <h4>ニックネーム</h4>
          <p><%= @user.nickname %></p>
        </div>

        <div class="col-12 my-2">
          <%= link_to "ユーザー編集", edit_user_path(current_user.id), class: "btn btn-success" %>
        </div>
        <div class="col-12 my-2">
          <%= link_to "退会", user_path(@user.id), method: :delete, "data-confirm" => "本当に退会しますか？", class: "btn btn-danger" %>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-12">
      <%= render "public/posts/new", post: @post %>
    </div>
  </div>



  <div class="row d-flex text-center justify-content-center">
    <% @user.car_models.each do |car_model|%>
      <div class="col-lg-3 col-sm-12 py-2 text-center">
        <div class="row">
          <div class="col-12">
            <h4>登録車種名</h4>
          </div>
          <div class="col-12">
            <p><%= car_model.name %></p>
          </div>
          <div class="col-12 my-2">
            <%= link_to "車種名編集", edit_car_model_path(car_model.id), class: "btn btn-success" %>
          </div>
          <div class="col-12 my-2">
            <%= link_to "車種削除", car_model_path(car_model.id), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-danger" %>
          </div>
        </div>
      </div>

      <% latest_driving_distance = car_model.driving_distances.order(created_at: :desc).first %>
      <div class="col-lg-3 col-sm-12 py-2 text-center">
        <h4>最新の走行距離</h4>
        <% if latest_driving_distance %>
          <p><%= latest_driving_distance.distance %>km</p>
        <% else %>
          <p>走行距離が登録されていません。</p>
        <% end %>
      </div>
      <div class="col-lg-3 col-sm-12 text-center">
        <%= render "public/driving_distances/new", car_model: car_model %>
      </div>
      <div class="col-lg-3 col-sm-12 py-2 text-center">
        <% car_model.notifications.each do |notification|%>
         <%= notification.message %><br>
        <% end %>
      </div>
    <% end %>

  </div>
</div>
