<div class="container">
  <div class="row justify-content-center mt-2">
    <h2>ユーザー詳細画面</h2>
  </div>

  <div class="row justify-content-center mb-4">
    <div class="col-12 col-lg-6 text-center text-muted mb-2">
      <div class="card d-flex flex-column justify-content-between" style="height: 100%;">
        <div class="card-body text-center d-flex flex-column justify-content-center align-items-center">
          <h5 class="card-title">プロフィール画像</h5>
          <%= image_tag @user.get_profile_image(150, 150) %>

          <h5 class="card-title">ニックネーム</h5>
          <p class="card-text"><%= @user.nickname %></p>
        </div>
    </div>
    </div>

    <div class="col-12 col-lg-6 text-center text-muted mb-2">
      <div class="card d-flex flex-column justify-content-between" style="height: 100%;">
        <div class="card-body text-center d-flex flex-column justify-content-center align-items-center">
          <h5 class="card-title">車種</h5>
          <% @user.car_models.each do |car_model| %>
            <p class="card-text"><%= car_model.name %></p>
          <% end %>
        </div>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-12">
      <h2>投稿一覧</h2>
    </div>
  </div>

  <div class="row mx-auto justify-content-center">
    <% @posts.each do |post| %>
      <div class="col-6 col-lg-3 my-2 d-flex text-center">
         <div class="card" style="width: 18rem;">
          <% if post.post_image.present? %>
            <%= image_tag post.post_image, class: "bd-placeholder-img card-img-top", width: "100%", height: "180", xmlns: "http://www.w3.org/2000/svg", preserveAspectRatio: "xMidYMid slice", focusable: "false", role: "img", "aria-label": "Placeholder: Image cap" %>
          <% else %>
            <%= image_tag "no_image.jpg", class: "bd-placeholder-img card-img-top", width: "100%", height: "180", xmlns: "http://www.w3.org/2000/svg", preserveAspectRatio: "xMidYMid slice", focusable: "false", role: "img", "aria-label": "Placeholder: Image cap" %>
          <% end %>
          <div class="card-body text-secondary">
            <h5 class="card-title"><%= post.title %></h5>
            <p class="card-text">
              <% max_length = 50 %>
              <% truncated_body = post.body.truncate(max_length, omission: '...') %>
              <p><%= truncated_body %></p>
            </p>
            <h5>ジャンル</h5>
            <p><%= post.genre.genre_name %></p>
            <h5>ニックネーム</h5>
            <p><%= post.user.nickname %></p>
            <%= link_to "詳細を見る", post_path(post), class: "btn btn-info" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div class="row justify-content-center">
    <div class="col-12 my-2">
      <div class="pagination justify-content-center">
        <%= paginate @posts %>
      </div>
    </div>
    <div class="col-12 text-center">
      <%= link_to "戻る", users_path, class: "btn btn-dark" %>
    </div>
  </div>
</div>