<!DOCTYPE html>
<html>
  <head>
    <title>MyCarLife</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <% if user_signed_in? %>
        <li>
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
        </li>
        <li>
          <%= link_to "トップページ", root_path %>
        </li>
        <li>
          <%= link_to "アバウトページ", about_path %>
        </li>
        <li>
          <%= link_to "投稿一覧", posts_path %>
        </li>
        <li>
          <%= link_to "新規投稿", new_post_path %>
        </li>
        <li>
          <%= link_to "車種登録", new_car_model_path %>
        </li>
        <li>
          <%= link_to "走行距離登録", new_driving_distance_path %>
        </li>
        <li>
          <%= link_to "ユーザー一覧", users_path %>
        </li>
        <li>
          <%= link_to "マイページ", mypage_path %>
        </li>
        <li>
          <%= link_to "ユーザー編集", edit_user_path(current_user.id) %>
        </li>
      <% else %>
        <li>
          <%= link_to "新規登録", new_user_registration_path %>
        </li>
        <li>
          <%= link_to "ログイン", new_user_session_path %>
        </li>
        <li>
          <%= link_to "トップページ", root_path %>
        </li>
        <li>
          <%= link_to "アバウトページ", about_path %>
        </li>
      <% end %>
    </header>
    <main>
      <% flash.each do |message_type, message| %>
        <div class = "flash-message <%= message_type %>"><%= message %></div>
      <% end %>
      <%= yield %>
    </main>
  </body>
</html>
